*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
!build.gradle
.idea/
_gamefile/assets/
unityLibrary/assets/
gradle.properties
*.apk
.svn
build/
help.gradle
local.properties
build
outapks
UMCore
gradle/
gradlew
gradlew.bat
.bugtags.log
bugtags.log
captures/
apk/
outapks/
/_outaars
/_outapks
unityLibrary/src/main/assets
output.json
repo/
simple_lib
